.header{
    background: white;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

h1{
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40p
}

.haeder_nav{
    display: flex;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.haeder_item{
    margin-right: 30px;
}

a{
    text-decoration: none;
}

.dating{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;

}

.main_button{
    border: 1px solid blue;
    text-align: center;
    padding: 0 3px;
}

h2{
    margin: 0 10px;
    font-weight: bold;
}

tr{
    border-top:solid 1px #e7e7eb;
    padding: 20px 60px 20px 20px;
}

.footer_text{
    font-weight: bold;
}